@font-face {
    font-family: 'Bitter-Regular';
    src: url("./assets/Bitter-Regular.ttf") format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bitter-Regular;
}
