.Registration {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .error {
        margin: 0 auto;
        color: crimson;
        opacity: .8;
        padding-bottom: 10px;
    }
    
    .username {
        margin: 0 auto;
    }

    .password {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .registration_btn {
        margin: 0 auto;
        margin-bottom: 10px;
    }
}