.App {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(203,203,203,1) 100%);
    min-height: 1000px;
}

.App-body {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
